<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOX6s1QdY0EZIvDPRvadib11Ga2tMz7XA</string>
	<key>GCM_SENDER_ID</key>
	<string>675961039544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gymRat</string>
	<key>PROJECT_ID</key>
	<string>the-big-gym-218ee</string>
	<key>STORAGE_BUCKET</key>
	<string>the-big-gym-218ee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675961039544:ios:86552b89ec6f910328224d</string>
</dict>
</plist>